@model DavesMusic.Controllers.SearchViewModel

@{
    ViewBag.Title = "Search Results";
}


@if (Model != null) {
    <h2>@Model.ArtistsResponse2.term</h2>
    if (Model.TrackSearchResponse != null) {
        <h3>Tracks</h3>
        <table class="table">
            @foreach (var item in Model.TrackSearchResponse.tracks.items) {
                <tr>
                    <td>
                        <a href="/Albums/Details/@item.album.id">@item.name</a>
                        <br />
                        <a href="@item.uri">Open directly</a>

                    </td>
                    @if (item.album.images.Count() == 4) {
                        <td>
                            <a href="/Albums/Details/@item.album.id"><img src="@item.album.images[2].url" /></a>
                        </td>
                    }
                    @if (item.album.images.Count() == 3) {
                        <td>
                            <a href="/Albums/Details/@item.album.id"><img src="@item.album.images[2].url" /></a>
                        </td>
                    }
                    @if (item.album.images.Count() < 3 && item.album.images.Count() > 0) {
                        <td>
                            <a href="/Albums/Details/@item.id"><img src="@item.album.images[0].url" /></a>
                        </td>
                    }
                </tr>
            }
        </table>
    }


    if (Model.ArtistsResponse2 != null) {
        <h3>Artists</h3>
        <table class="table">
            @foreach (var item in Model.ArtistsResponse2.artists.items) {
                <tr>
                    <td>
                        <a href="/Artists/Details/@item.id">@item.name</a>
                        <br />
                        <a href="@item.uri">Open directly</a>

                    </td>
                    @if (item.images.Count == 4) {
                        <td>
                            <a href="/Artists/Details/@item.id"><img src="@item.images[2].Url" /></a>
                        </td>
                    }

                    @if (item.images.Count == 3) {
                        <td>
                            <a href="/Artists/Details/@item.id"><img src="@item.images[2].Url" /></a>
                        </td>
                    }

                    @if (item.images.Count < 3 && item.images.Count > 0) {
                        <td>
                            <a href="/Artists/Details/@item.id"><img src="@item.images[0].Url" /></a>
                        </td>
                    }
                </tr>
            }
        </table>
    }

}


