@model List<DavesMusic.Controllers.AlbumDetails>

<h2>Seminal Albums</h2>

@*<a href="/Playlists/Create/davemateer">Make new playlist in my Spotify</a>*@

<!-- Don't know the username yet as they may or may not be logged in-->
<a href="/Playlists/Create">Make new playlist in my Spotify</a>
<p>Albums that are stand out over time, and are worth listening to in their entirety</p>
<table>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a href="/Artists/Details/@item.artists[0].id">@item.artists[0].name</a>
                <br />
                @item.releaseDateTime.Year
                <br />
                @item.name
                <br />
                @*<a href="@item.uri">listen</a>*@
            </td>
            @if (item.images.Count == 4) {
                <td>
                    <a href="/Albums/Details/@item.id">
                        <img src="@item.images[2].url" />
                    </a>
                </td>
            }

            @if (item.images.Count == 3) {
                <td>
                    <a href="/Albums/Details/@item.id">
                        <img width="100" src="@item.images[1].url" />
                    </a>
                </td>
            }
        </tr>
    }
</table>



