@model DavesMusic.Controllers.AlbumDetailsViewModel

@{
    ViewBag.Title = Model.AlbumDetails.name;
}

<h2>@Model.AlbumDetails.name</h2>
<table>
    <tr>
        <td>
            @if (@Model.AlbumDetails.images.Count > 1) {
                <img src="@Model.AlbumDetails.images[1].url" />
            } else if (@Model.AlbumDetails.images.Count == 1) {
                <img src="@Model.AlbumDetails.images[0].url" />
            }
        </td>
        <td>
            <p><a href="/Artists/Details/@Model.AlbumDetails.artists[0].id">@Model.AlbumDetails.artists[0].name</a></p>

            <a href="/Home/Search">Search</a>

            <p><a href="@Model.AlbumDetails.uri">Open direct</a></p>
            <p>Popularity: @Model.AlbumDetails.popularity</p>
            <p>Release: @Model.AlbumDetails.release_date</p>
        </td>
    </tr>
</table>

@using (Html.BeginForm()) {
    @Html.HiddenFor(model => model.AlbumDetails.name)
    @Html.HiddenFor(model => model.AlbumDetails.id)
    @Html.HiddenFor(model => model.AlbumDetails.artists[0].name)
    @Html.HiddenFor(model => model.AlbumDetails.artists[0].id)

    if (Model.AlbumDetails.images.Count == 3) {
        @Html.HiddenFor(model => model.AlbumDetails.images[0].url)
        @Html.HiddenFor(model => model.AlbumDetails.images[1].url)
        @Html.HiddenFor(model => model.AlbumDetails.images[2].url)
    } else if (Model.AlbumDetails.images.Count > 0) {
        @Html.HiddenFor(model => model.AlbumDetails.images[0].url)
    }
    @Html.HiddenFor(model => model.AlbumDetails.release_date)

    <h3>Tracks</h3>
    if (Session["SpotifyUserID"] != null) {
        if (Session["SpotifyUserID"].ToString() == "davemateer") {
            <div class="action">
                <button class="actionButton" type="submit">
                    <span>Admin - Add/Remove to Top Tracks</span>
                </button>
            </div>
        }
    }

    <table class="table">
        @for (int i = 0; i < Model.AlbumDetails.tracks.items.Count; i++) {
            var item = Model.AlbumDetails.tracks.items[i];
            @Html.HiddenFor(model => Model.AlbumDetails.tracks.items[i].id)
            @Html.HiddenFor(model => Model.AlbumDetails.tracks.items[i].name)
            @Html.HiddenFor(model => Model.AlbumDetails.tracks.items[i].preview_url)
            <tr>
                <td>@item.name</td>
                @if (Session["SpotifyUserID"] != null) {
                    if (Session["SpotifyUserID"].ToString() == "davemateer") {
                        <td>@Html.EditorFor(model => Model.AlbumDetails.tracks.items[i].Checked)</td>
                    }
                }

                <td>
                    <audio controls="controls" style="width: 150px; display: block;" preload="none">
                        <source src="@Model.AlbumDetails.tracks.items[i].preview_url" type="audio/mpeg">
                        <p>Ooops - please use a more up to date browser so you can preview songs</p>
                    </audio>
                </td>
                <td><a href="@item.uri">Direct</a></td>
            </tr>
        }
    </table>
}

@if (@Model.AlbumDetails.images.Count > 0) {
    <img src="@Model.AlbumDetails.images[0].url" />
}


