@model DavesMusic.Controllers.FeaturedPlaylists

<h2>Featured Playlists</h2>

@if (Model != null) {
    <p>@Model.message</p>
    <p>
        API Call: @ViewBag.APITime ms
    </p>

    <table class="table">
        @foreach (var item in Model.playlists.items) {
            <tr>
                <td>
                    <a href="/Playlists/Details/@item.id/@item.owner.id">@item.name</a>
                    <br />
                    <a href="@item.uri">Open directly</a>

                </td>
                @if (item.images.Count == 1) {
                    <td>
                        <a href="/Playlists/Details/@item.id/@item.owner.id">
                            <img src="@item.images[0].url" width="150" />
                        </a>
                    </td>
                }
            </tr>
        }
    </table>
}


