@model DavesMusic.Controllers.NewReleaseDetails

<h2>New Releases</h2>

@if (Model != null) {
    <p>
        API Call: @ViewBag.APITime ms
    </p>

    <table class="table">
        @foreach (var item in Model.albums.items) {
            <tr>
                <td>
                    <a href="/Albums/Details/@item.id">@item.name</a>
                    <br />
                    <a href="@item.uri">Open directly</a>

                </td>
                @if (item.images.Count == 4) {
                    <td>
                        <a href="/Albums/Details/@item.id">
                            <img src="@item.images[2].url" />
                        </a>
                    </td>
                }

                @if (item.images.Count == 3) {
                    <td>
                        <a href="/Albums/Details/@item.id">
                            <img width="200" src="@item.images[1].url" />
                        </a>
                    </td>
                }
            </tr>
        }
    </table>
}


