@*@model DavesMusic.Controllers.ArtistDetailsViewModel*@
@model DavesMusic.Controllers.ArtistAlbums


@*<script type="text/javascript">
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if (e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';

        // The other toggle section
        var e2 = document.getElementById('idOfElement2');
        if (e2.style.display == 'block')
            e2.style.display = 'none';
        else
            e2.style.display = 'block';
    }
</script>*@
@using (Html.BeginForm()) {

    @*<h2>@Model.ArtistDetails.Name</h2>

    <table>
        <tr>
            <td>
                <table>
                    <td>
                        @if (@Model.ArtistDetails.Images.Count > 0) {
                            <img src="@Model.ArtistDetails.Images[1].URL" width="300" />
                        }
                    </td>
                    <td>
                        <a href="/Home/Search">Search</a>

                        <button id="button" onclick=" toggle_visibility('debug'); ">Toggle</button>
                        <div id="debug" style="display: none">
                            @foreach (var item in Model.APIDebugList) {
                                <p>@item.APITime : @item.APIURL</p>
                            }
                        </div>

                        <p><a href="@Model.ArtistDetails.Uri">Direct</a></p>
                        <p>Popularity: @Model.ArtistDetails.Popularity</p>
                        <p>Followers Total: @Model.ArtistDetails.followers.Total</p>
                    </td>
                </table>

            </td>
            <td>
                <h3>Related Artists</h3>
                @foreach (var item in Model.ArtistRelated.artists) {
                    <a href="/Artists/Details/@item.id">@item.name</a>
                    <br />
                }
            </td>
        </tr>
    </table>
    <h3>Biography</h3>


    if (Model.ArtistBiography.response.biographies.Count > 0) {
        foreach (var item in Model.ArtistBiography.response.biographies) {
            if (item != null) {
                <button id="button" onclick=" toggle_visibility('idOfElement'); ">Toggle</button>
                <div>
                    @if (@item.text != null) {
                        if (item.url != null) {
                            <div id="idOfElement2" style="display: block; white-space: pre-line">
                                @if (@item.text.Length > 500) {
                                    @item.text.Substring(0, 500)
                                }
                                else {
                                    @item.text
                                }
                            </div>

                            <div id="idOfElement" style="display: none; white-space: pre-line">
                                @item.text - <a href="@item.url">@item.url</a>
                            </div>
                        }
                    }
                </div>
            }
        }
    }


    <h3>Top Tracks</h3>
    <table class="table">
        @foreach (var item in Model.ArtistTopTracks.tracks) {
            <tr>
                <td>@item.name</td>
                <td>
                    <audio controls style="width: 150px; display: block;">
                        <source src="@item.preview_url" type="audio/mpeg">
                        <p>Ooops - please use a more up to date browser so you can preview songs</p>
                    </audio>
                </td>
                <td><a href="@item.uri">Direct</a></td>
                <td>@item.popularity</td>
                <td>@item.album.name</td>
                <td><a href="/Albums/Details/@item.album.id"> <img src="@item.album.images[2].url" /> </a></td>
            </tr>
        }
    </table>*@

    <h3>Albums</h3>

    <button type="submit">OK</button>
    @Model.href
    @Model.total
    
    @*<table class="table">
        @foreach (var item in Model.ArtistAlbums.items) {
            <tr>
                <td>@item.name</td>
                <td><input type="checkbox" name="albumToAdd" value="@item.id">Add</td>
                <td><a href="@item.uri">Direct</a></td>
                <td>
                    <a href="/Albums/Details/@item.id">
                        @if (item.images.Count > 2) {
                            <img src="@item.images[2].url" />
                        }

                    </a>
                </td>
            </tr>
        }
      
    </table>*@

    @*if (@Model.ArtistDetails.Images.Count > 0) {
        <img src="@Model.ArtistDetails.Images[0].URL" />
    }*@
}
