@model DavesMusic.Controllers.ArtistDetailsViewModel

@{
    ViewBag.Title = Model.ArtistDetails.Name;
}

<script type="text/javascript">
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if (e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';

        // The other toggle section
        var e2 = document.getElementById('idOfElement2');
        if (e2.style.display == 'block')
            e2.style.display = 'none';
        else
            e2.style.display = 'block';
    }
</script>

<h2>@Model.ArtistDetails.Name</h2>

<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        @if (@Model.ArtistDetails.Images.Count > 0) {
                            <img src="@Model.ArtistDetails.Images[1].URL" width="300" />
                        }
                    </td>
                    <td>
                        <a href="/Home/Search">Search</a>

                        <p><a href="@Model.ArtistDetails.Uri">Direct</a></p>
                        <p>Popularity: @Model.ArtistDetails.Popularity</p>
                        <p>Followers Total: @Model.ArtistDetails.followers.Total</p>
                    </td>
                </tr>
            </table>

        </td>
        <td>
            <h3>Related Artists</h3>
            @foreach (var item in Model.ArtistRelated.artists) {
                <a href="/Artists/Details/@item.id">@item.name</a>
                <br />
            }
        </td>
    </tr>
</table>
<h3>Biography</h3>


@if (Model.ArtistBiography.response.biographies.Count > 0) {
    foreach (var item in Model.ArtistBiography.response.biographies) {
        if (item != null) {
            <button id="button" onclick=" toggle_visibility('idOfElement'); ">Toggle</button>
            <div>
                @if (@item.text != null) {
                    if (item.url != null) {
                        <div id="idOfElement2" style="display: block; white-space: pre-line">
                            @if (@item.text.Length > 500) {
                                @item.text.Substring(0, 500)
                            }
                            else {
                                @item.text
                            }
                        </div>

                        <div id="idOfElement" style="display: none; white-space: pre-line">
                            @item.text - <a href="@item.url">@item.url</a>
                        </div>
                    }
                }
            </div>
        }
    }
}

@using (Html.BeginForm()) {
    @Html.HiddenFor(model => Model.ArtistDetails.Name)
    @Html.HiddenFor(model => Model.ArtistDetails.Id)

    @Model.ArtistDetails.Name

    <h3>Spotify Top Tracks</h3>
    <div class="action">
        <button class="actionButton" type="submit">
            <span>Admin - Add/Remove to Top Tracks</span>
        </button>
    </div>
    <table class="table">
        @for (int i = 0; i < Model.ArtistTopTracks.tracks.Count; i++) {
            @Html.HiddenFor(model => Model.ArtistTopTracks.tracks[i].id)
            @Html.HiddenFor(model => Model.ArtistTopTracks.tracks[i].name)
            @Html.HiddenFor(model => Model.ArtistTopTracks.tracks[i].preview_url)
            @Html.HiddenFor(model => Model.ArtistTopTracks.tracks[i].album.name)
            @Html.HiddenFor(model => Model.ArtistTopTracks.tracks[i].album.id)
            //Peter Gabriel has no images in one of his albums
            if (Model.ArtistTopTracks.tracks[i].album.images.Count > 0) {
                @Html.HiddenFor(model => Model.ArtistTopTracks.tracks[i].album.images[0].url)
                @Html.HiddenFor(model => Model.ArtistTopTracks.tracks[i].album.images[1].url)
                @Html.HiddenFor(model => Model.ArtistTopTracks.tracks[i].album.images[2].url)
            }
            @Html.HiddenFor(model => Model.ArtistTopTracks.tracks[i].album.DateOfAlbumRelease)

            <tr>
                <td>@Model.ArtistTopTracks.tracks[i].name</td>
                <td>@Html.EditorFor(model => Model.ArtistTopTracks.tracks[i].Checked)</td>
                <td>
                    <audio controls style="width: 150px; display: block;">
                        <source src="@Model.ArtistTopTracks.tracks[i].preview_url" type="audio/mpeg">
                        <p>Ooops - please use a more up to date browser so you can preview songs</p>
                    </audio>
                </td>
                <td><a href="@Model.ArtistTopTracks.tracks[i].uri">Direct</a></td>
                <td>@Model.ArtistTopTracks.tracks[i].popularity</td>
                <td>@Model.ArtistTopTracks.tracks[i].album.name</td>
                <td>@Model.ArtistTopTracks.tracks[i].album.DateOfAlbumRelease</td>
                <td>
                    <a href="/Albums/Details/@Model.ArtistTopTracks.tracks[i].album.id">
                        @if (Model.ArtistTopTracks.tracks[i].album.images.Count > 0) {
                            <img src="@Model.ArtistTopTracks.tracks[i].album.images[2].url" />
                        }
                        else {
                            @Model.ArtistTopTracks.tracks[i].album.name
                        }
                    </a>
                </td>
            </tr>
        }
    </table>

    <!-- Full list of Albums-->
    <h3>Studio Albums</h3>
    <table class="table">
        @if (Model.ArtistAlbums != null) {
            for (int i = 0; i < Model.ArtistAlbums.Count; i++) {
                @Html.HiddenFor(model => Model.ArtistAlbums[i].id)
                @Html.HiddenFor(model => Model.ArtistAlbums[i].name)

                <tr>
                    <td>@Model.ArtistAlbums[i].name</td>
                    <td>@Html.EditorFor(model => Model.ArtistAlbums[i].Checked)</td>
                    <td><a href="@Model.ArtistAlbums[i].uri">Direct</a></td>
                    <td>@Model.ArtistAlbums[i].release_date</td>
                    <td>
                        <a href="/Albums/Details/@Model.ArtistAlbums[i].id">
                            @if (Model.ArtistAlbums[i].images.Count > 2) {
                                <img src="@Model.ArtistAlbums[i].images[2].url" />
                            }

                        </a>
                    </td>
                </tr>
            }
        }
    </table>

    <!-- Singles -->
    <h3>Singles</h3>
    <div class="action">
        <button class="actionButton" type="submit">
            <span>Admin - Add/Remove Singles</span>
        </button>
    </div>
    <table class="table">
        @if (Model.ArtistSingles != null) {
            for (int i = 0; i < Model.ArtistSingles.items.Count; i++) {
                @Html.HiddenFor(model => Model.ArtistSingles.items[i].id)
                @Html.HiddenFor(model => Model.ArtistSingles.items[i].name)

                if (Model.ArtistSingles.items[i].images.Count > 0) {
                    @Html.HiddenFor(model => Model.ArtistSingles.items[i].images[0].url)
                    @Html.HiddenFor(model => Model.ArtistSingles.items[i].images[1].url)
                    @Html.HiddenFor(model => Model.ArtistSingles.items[i].images[2].url)
                }

                <tr>
                    <td>@Model.ArtistSingles.items[i].name</td>
                    <td>@Html.EditorFor(model => Model.ArtistSingles.items[i].Checked)</td>
                    <td><a href="@Model.ArtistSingles.items[i].uri">Direct</a></td>
                    <td>
                        <a href="/Albums/Details/@Model.ArtistSingles.items[i].id">
                            @if (Model.ArtistSingles.items[i].images.Count > 2) {
                                <img src="@Model.ArtistSingles.items[i].images[2].url" />
                            }

                        </a>
                    </td>
                </tr>
            }
        }
    </table>

    <!-- Image at bottom-->
    if (@Model.ArtistDetails.Images.Count > 0) {
        <img src="@Model.ArtistDetails.Images[0].URL" />
    }
}