@model DavesMusic.Controllers.PlaylistSummaryViewModel

<h2>My Playlists (@Model.total)</h2>

@using (Html.BeginForm()) {
    <div class="action">
        <button class="actionButton" type="submit">
            <span>Add/Remove Playlists to your Spotify - Shuffler</span>
        </button>
    </div>
    <p>Currently showing first 50 of your playlists.</p>
    <table class="table">
        @for (int i = 0; i < Model.items.Count; i++) {
            @Html.HiddenFor(model => Model.items[i].id)
            @Html.HiddenFor(model => Model.items[i].name)
            @Html.HiddenFor(model => Model.items[i].owner.id)
            <tr>
                <td><a href="/Playlists/Details/@Model.items[i].id/@Model.items[i].owner.id">@Model.items[i].name</a>  (@Model.items[i].tracks.total)</td>
                <td>@Html.EditorFor(model => @Model.items[i].Checked)</td>

                @if (@Model.items[i].images != null) {
                    if (@Model.items[i].images.Count != 0) {
                        <td><a href="/Playlists/Details/@Model.items[i].id/@Model.items[i].owner.id"><img src="@Model.items[i].images[0].url" width="50" /></a></td>
                    }
                }
            </tr>
        }
    </table>
}

